/* ----------------------------------------------------------------- */
/* Global */
/* ----------------------------------------------------------------- */

body {
    background-color: rgb(25, 25, 25);
    position: relative; 
    --nodes-size: 70px;
}

/* ----------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------- */

header {
    position: relative;
}

header h1 {
    width: 52.3%;
    margin: 20px auto 10px auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    padding-bottom: 15px;
}

header h1 span {
    font-style: italic;
    color: #7f7fe3;
}

.gradient-border {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    background: linear-gradient(to right,  #3399ff, #6666ff);
}

#theme-switcher {
    position: absolute;
    right: 5%;
    top: 5px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* List */
/* ----------------------------------------------------------------- */

section.list {
    width: 95%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

section.list > div {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: top;
}

/* Webkit browsers custom scrollbar */

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4d4de0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #7e7eed;
}

/* Firefox */

section.list {
    scrollbar-color: #7474fd rgb(202, 190, 255);
    scrollbar-width: thin;
}

/* ----------------------------------------------------------------- */
/* Node */
/* ----------------------------------------------------------------- */

div.node {
    background:#6666ff;
    width: var(--nodes-size);
    height: var(--nodes-size);
    text-align: center;
    border-radius: 50%;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes highlightNode {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes deleteNode {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
    }
}

/* ----------------------------------------------------------------- */
/* Number */
/* ----------------------------------------------------------------- */

div.node p.number {
    margin: 0;
    line-height: var(--nodes-size);
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

@keyframes fadeNumberOut {
    70% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeNumberIn {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------------------------------------------------- */
/* Pointer */
/* ----------------------------------------------------------------- */

div.pointer {
    position: relative;
    width: var(--nodes-size);
    height: var(--nodes-size);
    z-index: -1;
}

div.pointer img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes highlightPointer {
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes deletePointer {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
    }
}

/* ----------------------------------------------------------------- */
/* Operations */
/* ----------------------------------------------------------------- */

section.operations {
    position: fixed;
    bottom: 5%;
    width: 100%;
}

div.wrapper {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(120px, auto);
    text-align: center;
}

div.wrapper p, div.wrapper input, div.wrapper button {
    font-family: Arial, sans-serif;
    width: 80%;
}

div.wrapper p {
    margin: 10px auto 4px auto;
    color: #fff;
}

div.wrapper input {
    padding: 5px;
    border: none;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
}

div.wrapper input::placeholder {
    font-style: italic;
}

/* ----------------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------------- */

button.button {
    border: none;
    background: linear-gradient(-125deg,  #3399ff, #6666ff);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button.button:hover {
    transform: scale(1.03);
}

div.remove input {
    display: none;
}

/* ----------------------------------------------------------------- */
/* Remove Button */
/* ----------------------------------------------------------------- */

div.remove {
    width: 80%;
    margin: 0 auto;
    display: flex;
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 3;
}

div.remove:hover {
    transform: scale(1.03);
}

div.wrapper > div:nth-child(4) input {
    display: none;
}

button#remove-btn {
    width: 70%;
    background: linear-gradient(to right, #ff4c6a, #c00000);
}

button#remove-settings {
    width: 30%;
    font-size: 1.3rem;
    background: #c00000;
}

button#remove-btn:hover, button#remove-settings:hover {
    transform: none;
}

@keyframes removeAnimationOn {
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes removeAnimationOff {
    100% {
        transform: rotate(90deg);
    }
}

button.remove-option {
    background: #fff;
    padding: 3px;
    font-style: italic;
    transition: .05s all ease-in-out;
    display: none;
    margin: 0 auto;
    position: relative;
    color: rgb(25, 25, 25);
}

button.remove-option:hover {
    border: 2px solid #ff4c6a;
    font-weight: bold;
}

button#remove-index-btn {
    z-index: 2;
}

button#remove-data-btn {
    z-index: 1;
}

@keyframes toggleMenuDown {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes toggleMenuDown200 {
    0% {
        transform: translate(0, -200%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes toggleMenuUp {
    100% {
        transform: translate(0, -100%);
    }
}

@keyframes toggleMenuUp200 {
    100% {
        transform: translate(0, -200%);
    }
}

/* ----------------------------------------------------------------- */
/* Errors */
/* ----------------------------------------------------------------- */

section.errors {
    width: 90%;
    margin: 0 auto;
}

div.error-message {
    font-family: 'Livvic', sans-serif;
    font-size: 18px;
    color: rgb(218, 23, 23);
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
}

div.error-message p {
    margin: 0;
}



